* {box-sizing: border-box;}
body { margin: 0; font-family: Roboto, Noto, sans-serif; background-color: #efefef; }

.hidden { display: none; }
table.collapse { border-collapse: collapse; }
span.help-text { font-size: small; font-style: italic; }
div.warning { color: red; display: none; }
input:disabled, select:disabled, textarea:disabled { color: #333; }
#main-container { display: flex; }
#map-container { height: 100vh; flex: 2 1 60%; }
#infos-div { height: 100vh; flex: 1 2 40%; }

@media all and (orientation:landscape) {
   /*#map-container.focused { width: calc(40vw - 48px); }
   #map-container.focused #map-div { height: 60vh; width: 100%; }
   #map-container.focused #undermap-div { display: block; height: 40vh;}
   #infos-div.focused { left: 40vw; width: calc(100% - 40vw); }*/
}

@media all and (orientation:portrait) {
   #main-container { display: block; }
   #left-pane { position: absolute; left: 0; top: 0; height: 100vh; width: 48px; }
   #map-container, #infos-div { width: calc(100% - 48px); height: 50vh; margin-left: 48px; }
   #map-container #map-div { width: 100%; }
   #map-container.focused #undermap-div { display: block; }
}

/*div.leaflet-marker-icon { border: 1px solid #666; border-radius: 8px; opacity: 0.8; }*/
div.icon-blue { background: #216AFF; }
div.icon-orange { background: #FFA500; }
div.icon-green { background: #2ABF2A; }
.icon-plot-red, .icon-plot-orange, .icon-plot-green { border: 1px solid #666; border-radius: 8px; opacity: 0.8; }
.icon-plot-red { background: #FF0000; }
.icon-plot-orange { background: #FFA500; }
.icon-plot-green { background: #2ABF2A; }
.icon-selected { border: 5px solid yellow; width: 25px !important; height: 25px !important; }
.marker-cluster-green { background-color: rgba(181, 226, 140, 0.6); }
.marker-cluster-green div { background-color: rgba(110, 204, 57, 0.6); }
.marker-cluster-orange { background-color: rgba(241, 211, 87, 0.6); }
.marker-cluster-orange div { background-color: rgba(240, 194, 12, 0.6); }
.marker-cluster-red { background-color: rgba(253, 116, 75, 0.6); }
.marker-cluster-red div { background-color: rgba(241, 88, 3, 0.6); }

#left-pane { flex: 0 0 48px; height: 100vh; background-color: #393A38; }
#layer-icons { margin-top: 10px; text-align: center; line-height: 2em; }
#layer-icons img.pane-icon { cursor: pointer; }
#pane-icons { position: absolute; bottom: 5px; text-align: center; }
#unsync-counter { font-size: 150%; font-weight: bold; margin-bottom: 5px; color: #bebebe; }
#unsync-counter.nonempty { color: red; }
img.pane-icon { width: 3vw; min-width: 35px; }
img#sync-unsync { cursor: pointer; }

div#debug-pane {
  position: fixed;
  bottom: 0;
  height: 15%;
  font-size: 80%;
  width: 100%;
  background-color: white;
  z-index: 10001; /* 10000 is the initial screen */
  padding: 0.5em;
  overflow: scroll;
}
div#debug-buttons { position: fixed; right: 1.2em; }
img#debug-reload { width: 26px; opacity: 0.6; margin: 7px; cursor: pointer; }

#map-div { height: 100%; width: 100%; }
#undermap-div { display: none; padding: 0.6em; }
#undermap-back { float: right; }

#progress { position: absolute; left: 6vw; bottom: 10vw; width: 48vw; height: 2.5vw; border: 1px solid gray; z-index: 1000; opacity: 0.8; background-color: white; display: none;}

#infos-div { padding-left: 5px; vertical-align: top;}
#error { display: none; margin: 1em 0; padding: 1em 0.5em; color: red; border: 1px solid red; }
#bottom-right { display: flex; position: fixed; z-index: 10000; bottom: 0; right: 0; padding: 0.2em; font-size: 80%; color: #444; background-color: #fffb; }
#logout form { display: inline; }
#logout input[type=image] { padding-left: 5px; opacity: 0.6; }

.object-form th { text-align: left; vertical-align: top; font-size: smaller; }
.object-form textarea { height: 4em; }
#massnahme-form .helptext { display: none; }
#infos-div h2 { font-size: 110%; }
#mass-list li { cursor: pointer; }

li.erledigt {
    font-style: italic;
    text-decoration: line-through;
}

#currentLong, #currentLat, #currentAlt { display: inline-block; }

tr.separator { background-color: gray; height: 4px; }

button {
  padding: 0; font-family: Roboto, Noto, sans-serif;
  color: #fff; background-color: #0069d9;
  border: 1px solid transparent; border-radius: .25rem;
  font-size: 1rem; padding: .375rem .75rem; line-height: 1.5;
}
button:hover { cursor: pointer; background-color: #0854A5; }
button.cancel {
    background-color: gray;
}

ul.tabs {
  list-style: none;
  padding: 0;
  margin: 0.25em 0;
}
ul.tabs li {
  display: inline;
  padding: 5px;
  margin-right: 2px;
  background-color: #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
ul.tabs li.active { font-weight: bold; }

ul.tabs li:hover {
  cursor: pointer;
}
div.tab-child {
  border: 1px solid gray;
  display: none;
  overflow: auto;
}

.leaflet-div-icon {
  border: none;
  background: none;
}
.leaflet-div-icon > * {
  position: absolute;
  left: 0;
  right: 0;
}
.leaflet-div-icon .treenumb {
  text-align: center;
  font-size: 14px;
}
.leaflet-bottom { right: 6em; } /* Conflict with app version/logout */

table.border { border-collapse: collapse; }
table.border td, table.border th { border: 1px solid black; padding: 4px; text-align: center; }
table.radius td:first-child { text-align: left; width: 40%; }

/* Modal styles */
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4);
}
.modal-container {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  margin-top: -12px;
  padding: 6px;
  font-size: 34px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal .buttons {
  text-align: center;
}
