body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  background-color: white;
  /*background: gray url('../img/white-bg.png') repeat-y fixed center;*/
}

a {
  color: #007046;
  text-decoration: none;
  border-bottom: 1px dotted #007046;
}

a.icon {
  border-bottom: none;
}

h2 {
  margin-top: 0.7em;
  margin-bottom: 0.4em;
}

div#header {
  margin: 1em 1em 0.2em 1em;
  padding-left: 0.6em;
}

div#page-title {
  font-size: 140%;
  margin-top: 0.5em;
}
div#page-title small {
  font-size: 70%;
}

div#loggedin {
  float:right;
  font-size: x-small;
  font-style: italic;
}

div#breadcrumb {
  margin-left: 1em;
  padding-left: 0.6em;
  font-size: x-small;
}

div.content {
  margin: 0.5em 1em 1em 1em;
  padding: 0.6em;
  border: 1px solid #007046;
  border-radius: 10px;
}

ul.errorlist {
  list-style-type: none;
  padding: 0.7em;
  background-color: #FFD1CE;
  color: #A8261C;
}

ul.headers {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0 0 0.5em 0;
}
ul.headers li {
  margin-right: 1.5em;
}

div#map_block {
  float: right;
}
div#map {
  width: 320px;
  height: 300px;
  margin-bottom: 0.5em;
}
div.opacity-slider {
  text-align: right;
  background-color: #eee;
  padding: 3px 0.7em;
}

span.range-end {
  display: inline-block;
  font-size: x-small;
  padding-top: 2px;
  vertical-align: top;
}

div#footer {
  margin: 1em;
  padding: 0.6em;
  font-size: x-small;
  clear: both;
}

div.reset {
  clear: both;
}

span.help_text {
  font-style: italic;
  font-size: small;
  font-weight: normal;
  color: gray;
}

ul.smallmargins { margin-top: 0.2em; margin-bottom: 0.2em; }

table.list {
  border: thin solid #60D6A9;
  border-collapse: collapse;
  font-size: 80%;
}
table.list th, table.list td {
  border: thin solid #60D6A9;
  padding: 5px;
}
table.list th {
  border: thin solid #999999;
  background-color: #EEEEEE;
}
table.list td.right {
  text-align:right;
}

tr.highlighted {
  background-color: yellow;
}
input.tablesorter-filter {
  border: 1px solid grey;
  color: red;
  font-size: 80%;
}
