.hidden { display: none; }
#body-map { margin: 0; font-family: sans-serif; }
#map-container { position: relative; max-width: 1024px; }
#map { width: 100%; height: 440px; }
#map-header { display: flex; justify-content: space-between; box-sizing: border-box; background-color: #eee; padding: 0.5em; }
#waiting { opacity: 0.75; }
.top-map {
  position: absolute;
  top: 220px; left: 50%;
  width: 360px;
  margin-left: -180px;
  background-color: white;
  padding: 1em;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #aaa;
  z-index: 1000;
}
span.range-end {
  display: inline-block;
  font-size: small;
  padding-top: 2px;
  vertical-align: top;
}
