{% extends "base.html" %}
{% load static %}

{% block extra_head %}
{% include "map_headers.html" %}
<script>
$(document).ready(function() {
    const mainFeatures = JSON.parse('{{ features|safe }}');
    map = new Map(['ortho']);
    map.loadFeatures(mainFeatures, {}, true);
});
</script>
{% endblock %}

{% block content %}
<h3>{{ object.title }}
{% if change_url %}
    <a class="icon" href="{{ change_url }}" title="Edit this object">
      <img src="{% static 'img/edit.png' %}" width="28"></a>
{% endif %}
{% if pdf_url %}
    <a class="icon" href="{{ pdf_url }}" title="Print this object">
      <img src="{% static 'img/pdf.png' %}" width="28"></a>
{% endif %}
</h3>

<div id="map_block">
  <div id="map"></div>
</div>

<table>
{% for label, data, type in fields %}
  <tr><td>{{ label|capfirst }}:</td>
      <td>{% if type == "BooleanField" %}{{ data|yesno:"Ja,Nein" }}
          {% else %}{{ data|default_if_none:'-' }}{% endif %}</td></tr>
{% endfor %}
</table>
{% endblock %}
