{% extends "base_list.html" %}
{% load l10n geo_utils %}

{% block content %}
<h2>{{ title }}</h2>
<table class="list tablesorter">
   <thead><tr><th>Eigentümer</th><th>Lokalname</th><th>Eingriffsjahr</th>
              <th>Nächster<br>Eingriff</th><th>Länge (m)</th></tr>
   </thead>
   <tbody>
{% for obj in object_list %}
  <tr id="{{ obj.pk }}" class="data">
      <td><a href="{{ obj.get_absolute_url }}">{{ obj.eigentum|default_if_none:'-' }}</a></td>
      <td>{{ obj.name|default_if_none:'-' }}</td>
      <td class="right">{{ obj.eingriffsjahr|default_if_none:'-' }}</td>
      <td class="right">{{ obj.naechster_eingriff }}</a></td>
      <td class="right">{{ obj.line.length|unlocalize|floatformat:"0" }}</a></td>
  </tr>
{% endfor %}
</tbody></table>
{% endblock %}
