{% if not lines %}<i>Keine Daten</i>{% else %}
<table class="list">
  <tr><th>Jahr</th><th>Eigentümer</th><th>Länge [in m]</th></tr>
  {% for line in lines %}
    <tr><td>{{ line.jahr }}</td><td>{{ line.eigentumer }}</td>
        <td class="right">{{ line.lange_in_m|floatformat:1 }}</td>
    </tr>
  {% endfor %}
</table>
{% endif %}
