{% load static leaflet_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Schauenburg Karte</title>
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static 'css/public.css' %}">
    {% leaflet_js %}
    <script src="{% static 'js/Leaflet.TileLayer.Swiss.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/public.js' %}"></script>
    <script type="application/json" id="icon-urls">
    {
        "bankli": "{% static 'img/bankli.png' %}",
        "brunnen": "{% static 'img/brunnen.png' %}",
        "information": "{% static 'img/information.svg' %}",
        "spielplatz": "{% static 'img/waldspielplatz.svg' %}",
        "feuerstelle": "{% static 'img/feuerstelle.svg' %}",
        "sport": "{% static 'img/sport.svg' %}",
        "waldhutte": "{% static 'img/waldhutte.svg' %}"
    }
    </script>
</head>

<body id="body-map">
<div class="wrapper">
    <div id="map-container">
        <div id="map-header">
            <div class="layer-chooser">
                <select id="layer-select">
                    <optgroup label="Aktuelle Arbeiten im Wald">
                        <option value="holzschlag" data-url="{% url 'public-layer' 'planung' %}" selected>Holzschlag im Jahr {{ eingriffsjahr }}</option>
                        <option value="pflege" data-url="{% url 'public-layer' 'pflege' %}">Jungwaldpflege im Jahr {{ eingriffsjahr }}</option>
                        <option value="pflanzung" data-url="{% url 'public-layer' 'pflanzung' %}">Pflanzung im Jahr {{ eingriffsjahr }}</option>
                    </optgroup>
                    <optgroup label="Erholung">
                        <option value="einrichtungen" data-url="{% url 'public-layer' 'einrichtung' %}">Erholungseinrichtungen</option>
                    </optgroup>
                    <optgroup label="Naturschutz">
                        <option value="altholz" data-url="{% url 'public-layer' 'altholz' %}">Altholzinseln</option>
                        <option value="habitat" data-url="{% url 'public-layer' 'habitat' %}">Habitatbäume</option>
                        <option value="waldrand" data-url="{% url 'public-layer' 'waldrand' %}">Waldrandpflegekonzept</option>
                        <option value="inventar_geschuetzter_naturobjekte">Inventar der geschützten Naturobjekte</option>
                    </optgroup>
                    <optgroup label="Weitere Karten">
                        <option value="bestand" data-url="{% url 'public-layer' 'bestand' %}">Bestandeskarte</option>
                    </optgroup>
                </select>
            </div>
            <div class="opacity-slider">
                <span class="range-end">plan</span>
                <input type="range" value="0" step="0.05" max="1" min="0" id="layeropacity">
                <span class="range-end">satellit</span>
            </div>
        </div>
        <div id="no-objects" class="top-map hidden">
            Leider gibt es jetzt keine solche Objekte.
        </div>
        <div id="err-window" class="top-map hidden">
            Leider gab es einen Serverfehler. Bitte versuchen Sie es in einigen Stunden erneut.
        </div>
        <div id="waiting" class="top-map hidden">
            <img src="{% static 'img/spinning-circles.svg' %}">
        </div>
        <div id="map"></div>
    </div>
</div>
</body>
</html>
