{% load static leaflet_tags %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Schauenburg Mobile-App</title>
        <link rel="manifest" href="{% static 'manifest.json' %}">
        {% leaflet_css 'forms' %}
        {% leaflet_js 'forms' %}
        <script src="{% static 'js/Leaflet.TileLayer.Swiss.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/mobile.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}" type="text/css" media="all" />
        <link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}" type="text/css" media="all" />
        <script src="{% static 'js/pouchdb-7.2.1.min.js' %}"></script>
        <script src="{% static 'js/L.TileLayer.PouchDBCached.js' %}"></script>
        <script src="{% static 'js/Leaflet.TileLayer.Swiss.js' %}"></script>
        <script src="{% static 'js/leaflet.markercluster.js' %}"></script>
        <script src="{% static 'js/progressbar.min.js' %}"></script>
        <script>
            const inventoryURL = '{% url "inventory" %}';
            const staticImages = {
                currentPos: "{% static 'img/currentpos.svg' %}"
            };
        </script>
    </head>

    <body>
        <div id="main-container">
            <div id="left-pane">
                <div id="layer-icons">
                    <img id="baselayer" class="pane-icon" src="{% static 'img/satellite.png' %}"
                         title="Plan oder Satelliten Schicht"
                         data-toggleimg="{% static 'img/plan.png' %}"><br>
                    <img id="tocurrent" class="pane-icon" src="{% static 'img/tocurrent.png' %}"
                         title="Zu meiner aktuellen Position gehen">
                </div>
                <div id="pane-icons">
                    <div id="unsync-counter" title="Anzahl der unsynchronisierten Inhalte"></div>
                    <img id="sync-unsync" class="pane-icon" src="{% static 'img/un-sync.svg' %}"
                         title="Lokale-Ferndaten Synchronisierung"><br>
                    <img id="network-status" class="pane-icon" src="{% static 'img/online.svg' %}"
                         title="Online/Offline Status"
                         data-toggleimg="{% static 'img/offline.svg' %}">
                </div>
            </div>
            <div id="map-container">
                <div id="map-div">map</div>
            </div>
            <div id="infos-div" class="hidden">
                <span data-target="infos-div" class="close">&times;</span>
                <form id="einrichtung-form" class="object-form" action="{% url 'save-einrichtung' %}">
                    <table>
                    {{ main_form.as_table }}
                    <tr id="edit-line">
                        <td colspan="2">
                            <button id="edit-plot">Bearbeiten</button>
                        </td>
                    </tr>
                    <tr class="save-line hidden">
                        <td colspan="2">
                            <button id="save-plot" class="save">Speichern</button>
                            <button class="cancel" type="button">Abbrechen</button>
                        </td>
                    </tr>
                    </table>
                </form>
                <hr>
                <h2>Massnahmen</h2>
                <form id="massnahme-form" class="object-form hidden" action="{% url 'save-massnahme' %}">
                    <table>
                    {{ mass_form.as_table }}
                    <tr class="save-line hidden">
                        <td colspan="2">
                            <button id="save-mass" class="save">Speichern</button>
                            <button class="cancel" type="button">Abbrechen</button>
                        </td>
                    </tr>
                    </table>
                </form>
                <ul id="mass-list"></ul>
                <button id="new-massnahme">+ Massnahme</button>
            </div>
            <div id="progress"></div>
            <div id="bottom-right">
                <div id="appversion"></div>
                <div id="logout">
                    <form method="post" action="{% url 'logout' %}">{% csrf_token %}
                      <input type="hidden" name="next" value="/">
                      <input type="image" src="{% static 'img/logout.png' %}" alt="Logout" title="Logout">
                    </form>
                </div>
            </div>
        </div>

        <div id="debug-pane" class="hidden">
            <div id="debug-buttons">
                <span data-target="debug-pane" class="close">&times;</span>
                <img id="debug-reload" src="{% static 'img/back.svg' %}" title="Force reload">
            </div>
            <div id="debug-messages"></div>
        </div>

        <div id="modal-div" class="modal hidden">
            <div class="modal-container">
                <span data-target="modal-div" class="modal-close close">&times;</span>
                <span id="modal-content"></span>
                <div class="buttons">
                    <button id="modal-ok">OK</button>
                    <button id="modal-ja" class="hidden">Ja</button>
                    <button id="modal-nein" class="hidden">Nein</button>
                </div>
            </div>
        </div>

        <script src="{% static 'js/application.js' %}"></script>
        <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("/serviceworker.js", {scope: './'})
                .then(function() { console.log("Service Worker Registered"); });
        }
        </script>
    </body>
</html>
