<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Login</title>
        <style>
            form { margin: 0 auto; }
            label { display: block; }
            ul { list-style: none; color: red; max-width: 25em; padding-left: 0; }
            #container { display: flex; }
        </style>
    </head>

    <body>
        <div id="container">
        <form id="login-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Anmelden</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        </div>

        <script>
            document.getElementById('id_username').focus()
        </script>
    </body>
</html>
