{% extends "base.html" %}

{% block title %}Fehler: Seite nicht gefunden{% endblock %}

{% block content %}

<h1>Fehler: Seite nicht gefunden</h1>

<p>Seite oder angeforderte Objekt ist nicht auf diesem Server.</p>

{% endblock %}
