{% extends "base.html" %}

{% block title %}Server error{% endblock %}

{% block content %}

<h1>Server-Fehler</h1>

<p>Ein Fehler ist auf dem Server aufgetreten.<br/>
Die Site-Administratoren wurden benachrichtigt und wird alles tun, um dieses Problem zu beheben.</p>

{% endblock %}
