{% extends "base.html" %}

{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/tablesorter/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/tablesorter/js/jquery.tablesorter.widgets.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("table").tablesorter({
      widgets: ["filter"]
    });
    $("a#csv_export").on("click", function(ev) {
        // Intercept export click and append selected ids to the GET request
        ev.preventDefault();
        var ids = $("table.list tr.data:visible").map(function() { return this.id; }).get().join();
        window.location = this.href + '?ids=' + ids;
    });
  });
</script>
<style>
td.right { text-align:right; }
tr.tablesorter-filter input { width: 8em; }
</style>
{% endblock %}

{% block content_footer %}
<div style="margin-top: 0.4em;">
  <a id="csv_export" class="icon" href="export/"><img src="{{ STATIC_URL }}img/csv_icon.gif" title="CSV export"></a>
</div>
{% endblock %}
