{% load common static %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Massnahmenplanung</title>
  <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <script type="text/javascript" src="{{ STATIC_URL }}admin/js/vendor/jquery/jquery.js"></script>
  <script src="{% url 'javascript-catalog' %}"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/common.js"></script>
  {% block extra_head %}{% endblock %}
</head>

<body>
  <div id="global">
    <div id="main">
      <div id="header">
        <div style="text-align: center">
            <img src="{{ STATIC_URL }}img/logo-project.jpg" alt="home logo">
        </div>
        <div id="page-title">{% block title %}{% endblock %}</div>
        {% if user.is_authenticated %}
          <div id="loggedin">Logged in as {{ user.username }}
            <form style="display:inline;" method="post" action="{% url 'logout' %}">{% csrf_token %}
              <input type="hidden" name="next" value="/">
              <input type="image" src="{{ STATIC_URL }}img/logout.png" alt="Logout" title="Logout" /></form>
          </div>
        {% endif %}
        <div style="clear: both;"></div>
      </div>
      {% if user.is_authenticated %}
      <div id="breadcrumb">{% breadcrumb %}</div>
      {% endif %}

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      
      <div class="content">
      {% block content %}
      {% endblock %}
       <div class="reset"></div>
      {% block content_footer %}{% endblock %}
      </div>
    </div>
    <div id="footer">
      Internetseite: <a href="http://www.guaraci.ch">Guaraci</a> &amp; <a href="http://www.2xlibre.net">2xlibre.net</a>
    </div>
  </div>
</body>
</html>
