{% extends "base.html" %}

{% block extra_head %}
{{ form.media }}
<style>
textarea { height: 3em; }
div.label { font-size: small; font-weight: bold; }
div.input { margin-bottom: 0.7em; clear: left; }
button.cancel { margin-left: 3em; }
</style>
{% endblock %}

{% block content %}
<h2>Belegung bearbeiten</h2>
Objekt: {{ form.initial.objekt }}
<form method="post" action=".">{% csrf_token %}
  {% for field in form.visible_fields %}
  <div class="label">{{ field.label_tag }} {{ field.errors }}</div>
  <div class="input">{{ field }}</div>
  {% endfor %}
  {% for field in form.hidden_fields %}{{ field }}{% endfor %}
  <div class="input">
      <button type="submit">Speichern</button>
      <button class="cancel" type="button" onclick="window.history.back();">Abbrechen</button>
  </div>
</form>
{% endblock %}
