{% extends "base.html" %}
{% load geo_utils %}

{% block extra_head %}
{% include "map_headers.html" %}
<script>
var map = null,
    bestandStyle = {
        "color": '#555',
        "weight": 2,
        "opacity": 0.3
    };

$(document).ready(function() {
    const mainFeatures = JSON.parse('{{ features|safe }}');
    const bestandFeatures = JSON.parse('{{ context_features|safe }}');
    map = new Map(['local']);
    map.loadFeatures(mainFeatures, {}, bestandFeatures.features.length == 0);

    map.loadFeatures(bestandFeatures, {style: bestandStyle}, true, function(ev, map, layer) {
        // On select, the matching feature in the bestand table is highlighted
        map.selectLayer(layer);
        const code = layer.feature.properties.code;
        $('table.list tr').removeClass('highlighted');
        $('table.list tr#' + code).addClass('highlighted');
    });
});
</script>
{% endblock %}

{% block content %}
<h2>{{ breadcrumb.0.0 }}
<h3>{{ object.title }}
{% if change_url %}
    <a class="icon" href="{{ change_url }}" title="Edit this object">
      <img src="{{ STATIC_URL }}img/edit.png" width="28"></a>
{% endif %}
{% if pdf_url %}
    <a class="icon" href="{{ pdf_url }}" title="Print this object">
      <img src="{{ STATIC_URL }}img/pdf.png" width="28"></a>
{% endif %}
</h3>

<div id="map_block">
  <div id="popup" class="ol-popup" style="left:0; top:0;">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
  </div>
  <div id="map"></div>
  <small>Flaeche: {{ surface|floatformat:"-2" }}m<sup>2</sup></small>
</div>

{% block geom_context %}
<table class="list" style="clear: right; float:right; margin-top: 1.5em;">
<tr><th>Bestandesnummer</th><th>Bestandestyp</th><th>Fläche</th></tr>
{% for bestand in context_geoms %}
  <tr id="{{ bestand.code }}"><td>{{ bestand.code|default_if_none:'-' }}</td><td>{{ bestand.typ }}</td><td align="right">{{ bestand.flaeche|floatformat:2 }}</td></tr>
{% endfor %}
</table>
{% endblock %}

<table>
{% block detail_lines %}
{% for label, data, type in fields %}
  <tr><td>{{ label|capfirst }}:</td>
      <td>{% if type == "BooleanField" %}{{ data|yesno:"Ja,Nein" }}
          {% else %}{{ data|default_if_none:'-' }}{% endif %}</td></tr>
{% endfor %}
{% endblock %}
<tr><td>Politische Gemeinde:</td><td>{% for gem in gem_pol %}{{ gem }}{% endfor %}</td></tr>
</table>

<div class="reset"></div>
{% endblock %}
