{% extends "base.html" %}
{% load static %}

{% block content %}
<ul class="headers">
    <li><h2><a href="{% url 'freizeit-map' %}">Freizeiteinrichtungen</a></h2></li>
    <li><h2>Massnahmenübersicht</h2></li>
</ul>

<table class="list">
    <thead><tr>
        <th>Datum</th><th>Objekt</th><th>Baumbestand</th><th>Objektart</th><th>Objektbeschreibung</th><th>Umsetzung</th>
    </tr></thead>
    <tbody>
    {% for uh in unterhalt %}
      <tr data-objid="{{ uh.objekt.pk }}">
          <td>{{ uh.datum }}</td>
          <td>{{ uh.massnahme_objekt }}</td>
          <td>{{ uh.massnahmen_baumbestand }}</td>
          <td>{{ uh.objekt.obj_art }}</td>
          <td>{{ uh.objekt.beschreibung|default:'-' }}</td>
          <td>{{ uh.get_umsetzung_display }}</td>
          <td>
              {% if uh.editable %}
              <a class="icon" href="{% url 'massnahme-edit' uh.pk %}"
                 title="Dieses Objekt bearbeiten">
              <img src="{% static 'img/edit.png' %}" width="28"></a>
              {% endif %}
              <a class="icon" href="{% url 'massnahme-pdf' uh.pk %}"
                 title="Drucken dieses Objekt">
              <img src="{% static 'img/pdf.png' %}" width="28"></a>
          </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
