{% extends "base.html" %}
{% load static %}

{% block extra_head %}
{% include "map_headers.html" %}
<style type="text/css">
  div.wrapper { display: flex; }
  div.add-icon { float: right; margin-top: 0.7em; }
  div.map-container { margin: 0.5em; width: 50%; }
  div#map { width: 100%; height: 400px; display: inline-block; }
  div#point_detail { max-width: 50%; vertical-align: top; }
  div#massnahmen { clear: both; }
  span.belegung-title { border-bottom: 1px dotted black; cursor: pointer; }
  div.details-hidden { display: none; }
  h4.subsection { font-size: 104%; margin: 0.2em; }
  table.list tbody tr:hover { background-color: #ddd; }
  li.erledigt { font-style: italic; text-decoration: line-through; }
</style>

<script>
var map = null;
$(document).ready(function() {
    var gem_vector = JSON.parse('{{ features|safe }}');
    var style_func = function(feature) {
        switch (feature.properties.this_year) {
            case 'green': return {fillColor: "#00ff00"};
            case 'red': return {fillColor: "#ff0000"};
            case 'orange': return {fillColor: "#ffa500"};
        }
    }

    map = new Map(['ortho', 'plan']);
    map.loadFeatures(gem_vector, {style: style_func}, true, function(ev, map, layer) {
        map.selectLayer(layer);
        layer.bringToFront();
        const pointPk = layer.feature.id;
        if (pointPk) {
            history.pushState({}, 'Point detail', '#' + pointPk);
            $('div#point_detail').load($('div#point_detail').data('url') + '?pk=' + pointPk);
        }
    });
    $("table.list tbody tr").click(function() {
        map.highlightFeature($(this).data('objid'));
    });
    var pointPk = window.location.hash.substr(1);
    if (pointPk) {
        $('div#point_detail').load($('div#point_detail').data('url') + '?pk=' + pointPk);
        map.highlightFeature(pointPk);
    }
    map.followPosition();

    $("body").on('click', 'span.belegung-title', function(ev) {
        $(this).parent().find("div.details-hidden").toggle();
    });
});
</script>

{% endblock %}

{% block content %}
<div class="add-icon">
    <a class="icon" href="{% url 'freizeit-add' %}"
       title="Neue Freizeiteinrichtung hinzufügen">
    <img src="{% static 'img/add.png' %}" width="28"></a>
</div>

<ul class="headers">
    <li><h2>Freizeiteinrichtungen</h2></li>
    <li><h2><a href="{% url 'freizeit-massnahmen' %}">Massnahmenübersicht</a></h2></li>
</ul>

<div>
    <small>Klicke auf einen Punkt auf der Karte, um die Details dieser Erholungseinrichtung anzuzeichen.</small>
</div>

<div class="wrapper">
    <div class="map-container">
        <div id="popup" class="ol-popup" style="left:0; top:0;">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
        <div class="opacity-slider">
            <span class="range-end">plan</span>
            <input type="range" value="0" step="0.05" max="1" min="0" id="layeropacity">
            <span class="range-end">satellit</span>
        </div>
        <div id="map"></div>
        <div style="font-size: small; font-style: italic;">
            Der <img src="{% static 'img/currentpos.svg' %}" width="20" height="20"> Punkt zeigt deine aktuelle Position
        </div>
    </div>

    <div id="point_detail" data-url="{% url 'freizeit-details' %}">
        <i><small>Kein ausgewählter Punkt.</small></i>
    </div>
</div>
{% endblock %}
