{% extends "base.html" %}
{% load static %}

{% block extra_head %}
{% include "map_headers.html" %}
{{ form.media }}
<style>
    div.label { font-size: small; font-weight: bold; }
    div.input { margin-bottom: 0.7em; clear: left; }
    input[type=text] { min-width: 40em; }
    textarea { min-width: 40em; height: 4em; }
    span.clear_features { font-size: small; }
</style>
{% endblock %}

{% block content %}
<h2>Freizeiteinrichtung bearbeiten</h2>
<form method="post" enctype="multipart/form-data" action=".">{% csrf_token %}
  {% for field in form %}
  <div class="label">{{ field.label_tag }} {{ field.errors }}</div>
  <div class="input">{{ field }}
    {% if field.name == 'obj_art' and perms.unterhalt.change_einrichtungsart %}
        <a class="icon" href="{% url 'admin:unterhalt_einrichtungsart_changelist' %}" title="Objekttype bearbeiten" target="_blank">
        <img src="{% static 'img/edit.png' %}" width="28"></a>
    {% endif %}
    {% if field.name == 'werkeigentuemer' and perms.unterhalt.change_eigentuemertyp %}
        <a class="icon" href="{% url 'admin:unterhalt_eigentuemertyp_changelist' %}" title="Eigentuemertype bearbeiten" target="_blank">
        <img src="{% static 'img/edit.png' %}" width="28"></a>
    {% endif %}
    {% if field.name == 'waldbesitzer' and perms.massnahmen.change_eigentuemer %}
        <a class="icon" href="{% url 'admin:massnahmen_eigentuemer_changelist' %}" title="Eigentuemer bearbeiten" target="_blank">
        <img src="{% static 'img/edit.png' %}" width="28"></a>
    {% endif %}
    {% if field.name == 'kontaktperson' and perms.unterhalt.change_kontaktperson %}
        <a class="icon" href="{% url 'admin:unterhalt_kontaktperson_changelist' %}" title="Kontaktpersonen bearbeiten" target="_blank">
        <img src="{% static 'img/edit.png' %}" width="28"></a>
    {% endif %}
    {% if field.name == 'foto' and form.instance.foto %}
        <div><img style="max-height: 160px;" src="{{ form.instance.foto.url }}"></div>
    {% endif %}
  </div>
  {% endfor %}
  <div class="input">
      <button type="submit">Speichern</button>
      <button class="cancel" type="button" onclick="window.history.back();">Abbrechen</button>
  </div>
</form>
{% endblock %}
