{% load static %}
<h2>{{ object }}</h2>

<table class="list">
    {% if object.beschreibung %}<tr><th>Beschreibung</th><td>{{ object.beschreibung }}</td></tr>{% endif %}
    <tr><th>Einrichtungsart</th><td>{{ object.obj_art }}</td></tr>
    <tr><th>Eigentuemer</th><td>{{ object.waldbesitzer }}</td></tr>
    <tr><th>Eigentuemertyp</th><td>{{ object.werkeigentuemer }}</td></tr>
    <tr><th>Kontaktperson</th><td>{{ object.kontaktperson.full }}</td></tr>
    <tr><th>Unterhaltsmassnahmen</th><td>{{ object.unterhaltsmassnahmen|default_if_none:'-' }}</td></tr>
    <tr><th>Bemerkungen</th><td>{{ object.bemerkung_unterhalt|default_if_none:'-' }}</td></tr>
</table>
<div style="text-align: right;">
    <a class="icon" href="{% url 'freizeit-edit' object.pk %}" title="Freizeiteinrichtung bearbeiten"><img src="{% static 'img/edit.png' %}" width="28"></a>
    <form style="display:inline;" method="post" action="{% url 'freizeit-delete' object.pk %}"
          data-confirm="Möchten Sie dieses Objekt wirklich löschen?">{% csrf_token %}
        <input src="{% static 'img/delete.svg' %}" title="Freizeiteinrichtung löschen" type="image" width="24" height="24">
    </form>
</div>

<h4 class="subsection">Massnahmen</h4>
<ul class="smallmargins">
{% for unterhalt in object.unterhalt_set.all %}
    {% if unterhalt.erledigt %}
        <li class="erledigt">{{ unterhalt.datum|date:'j.m.Y' }}: {{ unterhalt.massnahme_objekt }}, erledigt am {{ unterhalt.erledigt }}
    {% elif unterhalt.kein_unterhalt %}
        <li>{{ unterhalt.datum|date:'j.m.Y' }}: <i>Kein Unterhalt nötig</i>
    {% else %}
        <li>{{ unterhalt.datum|date:'j.m.Y' }}: {{ unterhalt.massnahme_objekt }}
    {% endif %}
    {% if unterhalt.foto %}
        <a class="icon" href="{{ unterhalt.foto.url }}"><img src="{% static 'img/generic_img.png' %}" width="32"></a>
    {% endif %}
    {% if unterhalt.editable %}
        {% if not unterhalt.kein_unterhalt %}
        <a class="icon" href="{% url 'massnahme-edit' unterhalt.pk %}"
                     title="Dieses Objekt bearbeiten">
                  <img src="{% static 'img/edit.png' %}" width="14"></a>
        {% endif %}
    <form style="display:inline;" method="post" action="{% url 'massnahme-delete' unterhalt.pk %}"
          data-confirm="Möchten Sie dieses Objekt wirklich löschen?">{% csrf_token %}
        <input src="{% static 'img/delete.svg' %}" title="Massnahme löschen" type="image" style="vertical-align: bottom;" width="14" height="14">
    </form>
    {% endif %}
    </li>
{% empty %}
  <li><i>Keine</i></li>
{% endfor %}
</ul>
<div style="text-align: right;">
    <i><small><a href="{% url 'massnahme-add' object.pk %}">Massnahme hinzufügen…</a></small></i>
</div>

<h4 class="subsection">Belegung</h4>
<ul class="smallmargins">
{% for belegung in object.belegung_set.all %}
    <li><span class="belegung-title" title="Klicken Sie um mehr Details zu sehen">{{ belegung }}</span>
        <a class="icon" href="{% url 'belegung-edit' belegung.pk %}"
           title="Dieses Objekt bearbeiten">
           <img src="{% static 'img/edit.png' %}" width="14"></a>
        <form style="display:inline;" method="post" action="{% url 'belegung-delete' belegung.pk %}"
              data-confirm="Möchten Sie dieses Objekt wirklich löschen?">{% csrf_token %}
            <input src="{% static 'img/delete.svg' %}" title="Belegung löschen" type="image" width="14" height="14">
        </form>
        <div class="details-hidden">
            {% if belegung.infrastruktur %}<b>Infrastruktur:</b> {{ belegung.infrastruktur }}<br>{% endif %}
            {% if belegung.bemerkungen %}<b>Bemerkungen:</b> {{ belegung.bemerkungen }}<br>{% endif %}
            {% if belegung.tel_verant_pers %}<b>Tel. verantw. Person:</b> {{ belegung.tel_verant_pers }}<br>{% endif %}
            {% if belegung.email_verant_pers %}<b>Email verantw. Person:</b> {{ belegung.email_verant_pers }}<br>{% endif %}
        </div>
    </li>
{% empty %}
  <li><i>Keine</i></li>
{% endfor %}
</ul>
<div style="text-align: right;">
    <i><small><a href="{% url 'belegung-add' object.pk %}">Belegung hinzufügen…</a></small></i>
</div>

{% if object.foto %}
<div class="image">
    <img src="{{ object.foto.url }}" style="max-width: 100%">
</div>
{% endif %}
