{% extends "base_list.html" %}
{% load l10n geo_utils %}

{% block content %}
<h2>Holznutzung</h2>
<table class="list tablesorter">
   <thead><tr><th>Eigentümer</th><th>Lokalname</th><th>Eingriffsjahr</th><th>Nutzungstyp</th>
              <th>Schlag-<br>vorbereitung</th><th>Fläche (a)</th></tr>
   </thead>
   <tbody>
{% for obj in object_list %}
  <tr id="{{ obj.pk }}" class="data">
      <td>{{ obj.eigentuemer|default_if_none:'-' }}</td>
      <td><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></td>
      <td class="right">{{ obj.geplant|default_if_none:'-' }}</td>
      <td>{{ obj.typ }}</td>
      <td>{{ obj.schlagvorbereitung|yesno:"Ja,Nein" }}</td>
      <td class="right">{{ obj.the_geom.area|as_flaeche|unlocalize }}</a></td>
  </tr>
{% endfor %}
</tbody></table>
{% endblock %}
