{% extends "base.html" %}

{% block extra_head %}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', (ev) => {
    document.querySelectorAll('.jahr_choice').forEach(select => {
        select.addEventListener('change', (ev) => {
            const detailSection = ev.target.nextElementSibling;
            if (ev.target.value == '') {
                detailSection.innerHTML = '';
            } else {
                $(detailSection).load(`${ev.target.dataset.url}?jahr=${ev.target.value}`);
            }
        });
    });
  });
</script>
<style>ul li { margin-top: 0.3rem; }</style>
{% endblock %}

{% block content %}
<img src="{{ STATIC_URL }}img/schauenburg.jpg" width="500" align="right">
<h2>Massnahmen</h2>
<ul>
  <li><a href="{% url 'holznutzung' %}">Holznutzung</a></li>
  <li><a href="{% url 'pflege' %}">Pflegen</a></li>
  <li><a href="{% url 'pflanzung' %}">Pflanzungen</a></li>
  <li><a href="{% url 'freizeit-map' %}">Freizeiteinrichtungen</a></li>
  <li><a href="{% url 'waldrand-list' %}">Waldrandpflege</a></li>
  <li><i>Strassenunterhalt (coming soon)</i></li>
  <li><i>Polterverwaltung (coming soon)</i></li>
</ul>

<h2>Kennwerte</h2>
<ul>
  <li>Nutzungsplanung Analyse:
    <select id="jahr_choice_planung" class="jahr_choice" data-url="{% url 'planung_analyse' %}">
        <option value="">-------</option>
        {% for pk, jahr in jahre %}<option value="{{ pk }}">{{ jahr }}</option>{% endfor %}
    </select>
    <div id="nutzung_analyse"></div>
  </li>
  <li>Pflanzungen Analyse:
    <select id="jahr_choice_pflanzung" class="jahr_choice" data-url="{% url 'pflanzung_analyse' %}">
        <option value="">-------</option>
        {% for jahr in pflanzung_jahre %}<option value="{{ jahr }}">{{ jahr }}</option>{% endfor %}
    </select>
    <div id="pflanzung_analyse"></div>
  </li>
  <li>Pflegeflächen Analyse:
    <select id="jahr_choice_pflege" class="jahr_choice" data-url="{% url 'pflege_analyse' %}">
        <option value="">-------</option>
        {% for pk, jahr in jahre %}<option value="{{ pk }}">{{ jahr }}</option>{% endfor %}
    </select>
    <div id="pflege_analyse"></div>
  </li>
  <li>Waldrandpflege Analyse:
    <select id="jahr_choice_waldrand" class="jahr_choice" data-url="{% url 'waldrand_analyse' %}">
        <option value="">-------</option>
        {% for jahr in waldrand_jahre %}<option value="{{ jahr }}">{{ jahr }}</option>{% endfor %}
    </select>
    <div id="waldrand_analyse"></div>
  </li>
</ul>

<div style="margin-top: 6em; font-size: 85%;">
Die folgende Internetseite hat zum Ziel, die in QGIS digitalisierten Massnahmen (Schlagplanung, Jungwaldpflege und Kulturplanung) zu verwalten. Über die Internetseite können PDF einer Massnahme (Objekt) generiert werden und dem Ausführungsteam abgegeben werden.
</div>
{% endblock %}
