{% load static leaflet_tags %}

{% leaflet_css 'forms' %}
{% leaflet_js 'forms' %}
<script src="{% static 'js/Leaflet.TileLayer.Swiss.js' %}"></script>

<script src="{% static 'js/map.js' %}"></script>
<script>
    const staticImages = {
        currentPos: "{% static 'img/currentpos.svg' %}"
    };
</script>
