{% extends "detail_base.html" %}

{% block detail_lines %}
    {{ block.super }}
    <tr><td style="vertical-align: top;">Baumarten:</td>
        <td>
            <table>
                {% for ba in object.baumarten_list.all %}
                <tr><td>{{ ba.anzahl }}</td><td>{{ ba.baumart }}</td><td>{{ ba.provenienz }}</td>
                    <td>{% if ba.abstand_x %}{{ ba.abstand_x }}/{{ ba.abstand_y }}{% endif %}</td>
                    <td>{{ ba.einzelschutz }}</td>
                    <td>{{ ba.bemerkungen }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
{% endblock %}

{% block geom_context %}
<table class="list" style="clear: right; float:right; margin-top: 1.5em;">
    <thead>
        <tr><th>EK</th><th>Pflanzengesellschaft</th><th>Ertragsklasse</th><th>Fläche</th></tr>
    </thead>
    <tbody>
    {% for geom in context_geoms %}
      <tr id="{{ geom.code }}">
          <td>{{ geom.einheit_code }}</td>
          <td style="max-width:300px;">{{ geom.einheit_text }}</td>
          <td>{{ geom.ek }}</td>
          <td align="right">{{ geom.flaeche|floatformat:2 }}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
