{% extends "base_list.html" %}
{% load l10n geo_utils %}

{% block content %}
<h2>Pflanzungen</h2>
<table class="list tablesorter">
   <thead><tr><th>Eigentümer</th><th>Lokalname</th><th>Realisiert</th><th>Realisiert<br>(Geschäftsjahre)</th>
              <th>Zaunlänge (m)</th><th>Fläche (a)</th></tr>
   </thead>
   <tbody>
{% for obj in object_list %}
  <tr id="{{ obj.pk }}" class="data">
      <td><a href="{{ obj.get_absolute_url }}">{{ obj.eigentuemer|default_if_none:'-' }}</a></td>
      <td>{{ obj.lokalname|default_if_none:'-' }}</td>
      <td class="realisiert right">{{ obj.realisiert|default_if_none:'-' }}</td>
      <td class="realisiert right">{{ obj.realisiert_jahre|default_if_none:'-' }}</td>
      <td class="zaunlaenge right">{{ obj.zaunlaenge }}</td>
      <td class="flaeche right">{{ obj.geom.area|as_flaeche|unlocalize }}</a></td></tr>
{% endfor %}
</tbody></table>
{% endblock %}
