{% if not lines %}<i>Keine Daten</i>{% else %}
<table class="list">
  <tr><th>Jahr</th><th>Eigentümer</th><th>Baumart</th><th>Stückzahl</th><th>Anzahl Pflanzflächen</th></tr>
  {% for line in lines %}
    <tr><td>{{ line.jahr }}</td><td>{{ line.eigentumer }}</td><td>{{ line.baumart|default_if_none:'-' }}</td>
        <td class="right">{{ line.anzahl|default_if_none:'?' }}</td>
        <td class="right">{{ line.flaechen }}</td></tr>
  {% endfor %}
</table>
{% endif %}
