{% extends "base_list.html" %}
{% load l10n geo_utils %}

{% block content %}
<h2>Jungwaldpflege</h2>
<table class="list tablesorter">
   <thead><tr><th>Eigentümer</th><th>Lokalname</th><th>Eingriffsjahr</th><th>Pflegetyp</th>
              <th>Nächster<br>Eingriff</th><th>Fläche (a)</th></tr>
   </thead>
   <tbody>
{% for obj in object_list %}
  <tr id="{{ obj.pk }}" class="data">
      <td><a href="{{ obj.get_absolute_url }}">{{ obj.eigentum|default_if_none:'-' }}</a></td>
      <td>{{ obj.lokalname|default_if_none:'-' }}</td>
      <td class="right">{{ obj.geplant|default_if_none:'-' }}</td>
      <td>{{ obj.pflegetyp }}</td>
      <td class="right">{{ obj.naechster_eingriff|default_if_none:'-' }}</a></td>
      <td class="right">{{ obj.the_geom.area|as_flaeche|unlocalize }}</a></td>
  </tr>
{% endfor %}
</tbody></table>
{% endblock %}
