{% if not lines %}<i>Keine Daten</i>{% else %}
<table class="list">
  <tr><th>Jahr</th><th>Eigentümer</th><th>Entwicklungsstufe</th><th>Fläche [in a]</th></tr>
  {% for line in lines %}
    <tr><td>{{ line.jahr }}</td><td>{{ line.eigentumer }}</td><td>{{ line.entwicklungsstufe|default_if_none:'-' }}</td>
        <td class="right">{{ line.flaeche|floatformat:2 }}</td></tr>
  {% endfor %}
</table>
{% endif %}
