{% if not lines %}<i>Keine Daten</i>{% else %}
<table class="list">
  <tr><th>Eigentümer</th><th>Massnahme</th><th>Fläche</th><th>nachh. Verj. [a]<br> pro Jahr im Femelschlagb.</th></tr>
  {% for line in lines %}
    <tr><td>{{ line.eigentumer }}</td><td>{{ line.massnahme }}</td>
        <td class="right">{{ line.flaeche|floatformat:2 }}</td><td class="right">{{ line.nach_verj|floatformat:0 }}</td></tr>
  {% endfor %}
</table>
{% endif %}
