{% extends "base.html" %}
{% load common %}

{% block extra_head %}
{{ form.media }}
<style>
textarea { height: 3em; }
div.label, span.label { font-size: small; font-weight: bold; }
label.disabled { color: gray; font-style: italic; }
div.input { margin-bottom: 0.7em; clear: left; }
button.cancel { margin-left: 3em; }
</style>

<script type="text/javascript">
$(document).ready(function() {
    $('#id_kein_unterhalt').change(function(ev) {
        var checked = $(this).is(":checked");
        var whitelist = ['id_kein_unterhalt', 'id_datum', 'id_objekt'];
        $(this.form).find("input, select, textarea").each(function() {
            if (this.name != 'csrfmiddlewaretoken' && whitelist.indexOf(this.id) == -1) {
                if (checked) {
                    $('#id_unterhalt_objekt').prop('checked', false);
                    $(this).prop('disabled', true);
                    $("label[for='" + this.id + "']").addClass('disabled');
                } else {
                    $(this).prop('disabled', false);
                    $("label[for='" + this.id + "']").removeClass('disabled');
                    $('#id_unterhalt_objekt').prop('checked', true);
                }
            }
        });
    });
});
</script>
{% endblock %}

{% block content %}
<h2>{% if form.instance.pk %}Massnahme bearbeiten{% else %}Massnahme erfassen{% endif %}</h2>

<p>Mit diesem Formular kann eine Unterhaltsmassnahme für ein Erholungsobjekt und/oder den umliegende Baumbestand erfasst werden.<br>
Es kann auch dokumentiert werden, dass zu diesem Zeitpunkt keine Massnahmen notwenig sind ("Kein Unterhalt nötig" Kästchen).
</p>

<p>Freizeiteinrichtung: {% if form.instance.pk %}{{ form.instance.objekt }}{% else %}{{ form.initial.objekt }}{% endif %}</p>

<form method="post" enctype="multipart/form-data" action=".">{% csrf_token %}
  {% for field in form.visible_fields %}
    {% if field|is_checkbox %}
      <div class="input">
          {{ field.errors }} {{ field }} <span class="label">{{ field.label_tag|strip_colon }}</span>
          {% if field.help_text %}<br><span class="help_text">{{ field.help_text }}</span>{% endif %}
      </div>
    {% else %}
      <div class="label">
        {{ field.label_tag }} {{ field.errors }}
        {% if field.help_text %}<span class="help_text">{{ field.help_text }}</span>{% endif %}
      </div>
      <div class="input">{{ field }}</div>
    {% endif %}
  {% endfor %}
  {% for field in form.hidden_fields %}{{ field }}{% endfor %}
  <div class="input">
      <button type="submit">Speichern</button>
      <button class="cancel" type="button" onclick="window.history.back();">Abbrechen</button>
  </div>
</form>
{% endblock %}
